/* HEADER START */
.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.header.fixed {
  height: 50px;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 10px #707070;
}
.header__nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  width: calc(50% - 150px);
  height: 110%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: $borderline;
}

.header__nav-link {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  transition: 0.3s;
  &:hover {
    color: $myyellow;
  }
}
/* HEADER END */