# Игнорирование логов 
logs 
*.log 

# Игнорирование файлов специфичных для IDE 
.vscode/ 

# Папка с оригинальными картинками
#/img/img_orig/

#gulp npm mods
node_modules/
package*.json

#templates
*.psd

