@font-face{
	font-family: Banny;
	font-display: swap;
	src: url("../fonts/Banny-LightRound.woff2") format("woff2"), url("../fonts/Banny-LightRound.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Banny;
	font-display: swap;
	src: url("../fonts/Banny-BoldRound.woff2") format("woff2"), url("../fonts/Banny-BoldRound.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Banny;
	font-display: swap;
	src: url("../fonts/Banny-Round.woff2") format("woff2"), url("../fonts/Banny-Round.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: fa;
	font-display: swap;
	src: url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: open;
	font-display: swap;
	src: url("../fonts/open-sans-v27-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v27-latin-700.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: open;
	font-display: swap;
	src: url("../fonts/open-sans-v27-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v27-latin-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: fa;
	font-display: swap;
	src: url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
